main {
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 679px;
  max-width: 300px;
  height: 829px;
  max-height: 300px;
  object-fit: contain;
  padding: 1rem;
}

.products .card {
  box-shadow: 0 4px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.23);
  padding: 0.5rem;
}
